html, body{
    margin: 0%;
}

.img-upload-top-class{
    height: 100vh;
    background-color: #52a2ba;
}
.img-view-top-class{
    height: 100vh;
    background-color: #fefcf8;
}

.app-title-box{
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.app-title-text{
    font-family: "roboto condensed";
    text-align: center;
    font-size: 2em;
    color: white;
} 

#select-instruction{
    font-family: 'roboto';
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black
}

.ui.input{
    display: block;
    margin-top: 2%;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e0e0e0;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #e0e0e0;
    font-family: "verdana";
}

.copyright{
    color: white;
    font-family: "verdana";
    font-size: 20px;
}

.your-img{
    padding-top: 10%;
    font-family: "verdana";
    font-size: 50px;
    color: darkslateblue;
}

.prvwFrame{
    margin-top: 20px;
    font-family: "verdana";
    color: whitesmoke;
    border: 2px whitesmoke dashed;
    border-radius: 4px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}